body{
  background: #2b2a2a;
  height: 100%;
  width: 100%;
}
/* @media only screen and (max-width: 1600px){ */
/* -------------------------------------------- Banner Content's CSS / Create Sides ---------------------------------- */

.bannerContent{
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  height: 520px;
  width: 100%;
  max-width: 1600px;
  max-height: 520px;
}
.LeftSide,.RightSide{
  position: relative;
  height: 100%;
}
/* -------------------------------------------- Left side of the banner / Carousel & arrows---------------------- */
.LeftSide{
  float: left;
  width: 44%;
}
#leftButton,#rightButton{
  position: absolute;
  height: auto;
  width: 14%;
  bottom: 17%;
}
#rightButton{
  right: 10px;
}
.content li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.active{
  display: block !important;
  opacity: 1 !important;
  }
  /* -------------------------------------------- Video / Right Side of the banner -----------------------------------*/

.RightSide{
  float: right;
  width: 56%;
}
.RightSide #BarclaysVid{
  position: absolute;
  width: 99%;
  height: 100%;
  top: 50%;
  right: 0;
  margin: -260px 5px 0 5px;
}
/* --------------------------------------------First Slide / Image Carousel-------------------------------------------------- */
#firstSlide, #secondSlide{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  /* transition: all 0.5s; */
  height: 100%;
  width: 100%;
  opacity: 0;
}
.YesOpacity{
  animation: opacityInAnimation .5s;
  }
.NoOpacity{
  animation: opacityOutAnimation .5s;
}
@keyframes opacityInAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes opacityOutAnimation {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#firstSlide #findMoreButton,#secondSlide #watchTheStory{
  position: absolute;
  left: 80px;
  bottom: 45px;
  width: 200px;
}
#firstSlide{
  background-color: white;
}
#firstSlide #slide1Img{
  position: absolute;
  top: 50%;
  left: 10%;
  margin: -200px 0 0 0;
  width: 60%;
}
/* --------------------------------------------Second Slide / Image Carousel-------------------------------------------------- */

#secondSlide{
  background-color: #2d4373;
}
#secondSlide #slide2Logo{
  position: absolute;
  top: 6%;
  left: 10%;
  width: 45%;
}
#secondSlide #slide2Img{
  position: absolute;
  top: 50%;
  left: 10%;
  margin: -150px 0 0 0;
  width: 85%;
}
