body{
  background: #2b2a2a;
  height: 100%;
  width: 100%;
}
/* -------------------------------------------- Banner Content's CSS / Creating sides ---------------------------------- */
.bannerContent{
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  transition: all 0.5s;
}
@media only screen and (min-width: 768px) {  /*When browser's min-width: 768x520 '*/

  .bannerContent{
    height: 520px;
    width: 100%;
    max-width: 1600px;
    max-height: 520px;
  }
}
@media only screen and (max-width: 767px) { /*When browser's max-width is 767px: Change Height to 430px ( 767x420px from here on out.) '*/
  .bannerContent{
    height: 430px;
    width: 100%;
    max-width: 1600px;
    max-height: 430px;
  }
}

.LeftSide,.RightSide{                     /* Name of sides */
  position: relative;
  height: 100%;
}
#leftButton,#rightButton{                 /* Name of Carousel's arrows */
  position: absolute;
  height: auto;
  transition: all .5s;
  cursor: pointer;
}
#leftButton:hover,#rightButton:hover{
  opacity: .6;
}
/* -------------------------------------------- Video / Right Side of the banner -----------------------------------*/
  @media only screen and (min-width: 426px) {/*When Screen's width is: 1600 - 426px, relocate the sides. Up: Video, down: Caoursel */

  .RightSide{
    float: right;
    width: 56%;
  }
  .LeftSide{
    float: left;
    width: 44%;
  }
  .RightSide #BarclaysVid{
    position: absolute;
    width: 99%;
    height: 100%;
    top: 50%;
    right: 0;
    margin: -260px 1px 0 1px;
  }
  #leftButton,#rightButton{
    width: 13%;
    bottom: 17%;
  }
}
/* --------------------------------------------First Slide / Image Carousel-------------------------------------------------- */
@media only screen and (max-width: 425px) { /*When Screen's max-width is: 425px, relocate && resize Carousel arrows*/
  #leftButton,#rightButton{
    width: 8%;
    bottom: 35%;
    margin: 0 15px 0 15px;
  }
}
#rightButton{
  right: 10px;
}
.content li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.active{                                  /* Carousel's way of saying currently active, show image by opacity and displaying the image */
  display: block !important;
  opacity: 1 !important;
}

#firstSlide, #secondSlide{                /* Making the images/slides not display */
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
  height: 100%;
  width: 100%;
  opacity: 0;
}
#secondSlide{
  background-color: #2d4373;
}
#firstSlide{
  background-color: white;
}
#firstSlide #findMoreButton,#secondSlide #watchTheStory{    /* Common style for arrows*/
  transition: all 0.5s;
  position: absolute;
}
#firstSlide #slide1Img{
  position: absolute;
  transition: all 0.5s;
}

#secondSlide #slide2Logo{
  transition: all .5s;
  position: absolute;
  top: 6%;
}

#secondSlide #slide2Img{
  position: absolute;
  transition: all .5s;
}

/* -------------------------------Responsive web designing, screen capturing and moving objects around w.r.t screen's width ---------------*/

@media only screen and (min-width: 1200px) {                       /*When Screen is 1600x520 - 1200x520*/
  #firstSlide #findMoreButton,#secondSlide #watchTheStory{
    left: 80px;
    bottom: 45px;
    width: 35%;
  }
  #firstSlide #slide1Img{
    top: 50%;
    margin: -200px 0 0 0;
    width: 61%;
    left: 10%;
  }
  #secondSlide #slide2Logo{
    left: 10%;
    width: 45%;
  }
  #secondSlide #slide2Img{
    top: 50%;
    margin: -150px 0 0 0;
    left: 10%;
    width: 85%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 1199px) { /*When Screen is 1199x520 (height changed when width = 767 ) - 426x420*/
  #firstSlide #slide1Img{
    top: 25%;
    margin: 0 0 0 0;
    width: 75%;
    left: 15%;
 }
  #firstSlide #findMoreButton,#secondSlide #watchTheStory{
    left: 25%;
    bottom: 80px;
    width: 40%;
  }
  #secondSlide #slide2Logo{
    left: 10%;
    width: 50%;
  }
  #secondSlide #slide2Img{
    top: 60%;
    margin: -110px 0 0 0;
    left: 10%;
    width: 85%;
  }
}
@media only screen and (max-width: 425px) {            /*When Screen's max-width is: 425x420*/
  .RightSide{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45%;
  }
  .LeftSide{
    position: absolute;
    top: 45%;
    height: 55%;
    width: 100%;
  }
  .RightSide #BarclaysVid{
    width: 100%;
    height: 100%;
  }

  #firstSlide #slide1Img{
    top: 5%;
    width: 75%;
    left: 4%;
 }
  #firstSlide #findMoreButton,#secondSlide #watchTheStory{
    right: 10%;
    bottom: 25px;
    width: 30%;
  }
  #secondSlide #slide2Logo{
    left: 10%;
    width: 50%;
  }
  #secondSlide #slide2Img{
    top: 50%;
    margin: -65px 0 0 0;
    left: 12%;
    width: 75%;
  }
}
/* --------------------------------------------------------------Animation Keyframes for carousel --------------------------------------- */
.YesOpacity{
  animation: opacityInAnimation 1s;
  }
.NoOpacity{
  animation: opacityOutAnimation 1s;
}
@keyframes opacityInAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes opacityOutAnimation {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
